<div class="container">
  <h1>Registration Form
    <!-- <a [routerLink]="['/registration-form-create']" class="btn btn-default btn-lg"> -->
      <button (click)="navigateCreatePage()">Create new form</button>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
  </h1>
  <h3><button (click)="logout()">logout</button></h3>
  <table class="table">
    <thead>
      <tr>
        <th>Term</th>
        <th>Pin</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let form of registrationForm">
        <td>{{ form.term }}</td>
        <td>{{ form.pin }}</td>
        <!-- <td><a [routerLink]="['/registration-form-detail', form._id]">Details</a></td> -->
        <td><button (click)="nagivageDetailsPage(form._id)">Details</button></td>
      </tr>
    </tbody>
  </table>
</div>