
<mat-card class="example-card">
  <div >
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title><h2>Hi       {{ name }}</h2></mat-card-title>
        

    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-header>
        
        <mat-card-subtitle><h3>Registration Forms History  <button mat-mini-fab color="primary" (click)="navigateCreatePage()"> + </button></h3></mat-card-subtitle>

    </mat-card-header>

      
      


    
      <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource" matSort>
        
            <!-- Term Column -->
            <ng-container matColumnDef="term">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Term </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.term}} </mat-cell>
            </ng-container>
        
            <!-- Pin Column -->
            <ng-container matColumnDef="pin">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Pin </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.pin}} </mat-cell>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
              <mat-cell *matCellDef="let element"> <a [routerLink]="['/registration-form-detail', element._id]"> Details </a> </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
        
  </div>

</mat-card>