<div class="container">
  <h1>Edit Form</h1>
  <div class="row">
    <div class="col-md-6">
      <dl class="list">
        <dt>Term</dt>
        <dd>{{ registrationForm.term }}</dd>
        <dt>Name</dt>
        <dd>{{ registrationForm.name }}</dd>
        <dt>Student Id</dt>
        <dd>{{ registrationForm.studentId }}</dd>
        <dt>Degree</dt>
        <dd>{{ registrationForm.degree }}</dd>
        <dt>Email</dt>
        <dd>{{ registrationForm.email }}</dd>
        <dt>Advisor</dt>
        <dd>{{ advisor }}</dd>
        <dt>Courses</dt>
        <dd>      
          <div *ngFor="let entry of my_crns | keys">
          {{entry.key}}: {{entry.value}} <br>
          </div>
        </dd>
        <dt>Pin</dt>
        <dd>{{ registrationForm.pin }}</dd>
      </dl>
      <form (ngSubmit)="updateRegistrationForm(registrationForm._id)" #thisForm="ngForm">
        <div class="form-group">
          <label for="name">Crn</label>
          <input type="text" class="form-control" [(ngModel)]="registrationForm.crns" name="crns" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!thisForm.form.valid">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>