<div >
    <h1>Add New Registration Form</h1>
    

            <form (ngSubmit)="saveRegistrationForm()" #registrationFormForm="ngForm">
                <!-- <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="name">StudentId</label>
          <input type="text" class="form-control" [(ngModel)]="studentId" name="studentId" required>
        </div>
        <div class="form-group">
          <label for="name">Degree</label>
          <input type="text" class="form-control" [(ngModel)]="degree" name="degree" required>
        </div>
        <div class="form-group">
          <label for="name">Email</label>
          <input type="email" class="form-control" [(ngModel)]="email" name="email" required>
        </div> -->
        <div class="example-container">
                <mat-form-field>
                    <input matInput class="form-control" [(ngModel)]="name" name="name" required placeholder="Name">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput class="form-control" [(ngModel)]="studentId" name="studentId" required placeholder="StudentId">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput class="form-control" [(ngModel)]="degree" name="degree" required placeholder="Degree">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput class="form-control" [(ngModel)]="email" name="email" required placeholder="Email">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-select placeholder="Advisor" [(ngModel)]="selectedAdvisor" name="advisor">
                        <mat-option *ngFor="let advisor of advisors" [value]="advisor.uid">
                            {{advisor.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput class="form-control" [(ngModel)]="term" name="term" equired placeholder="Term">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput class="form-control" [(ngModel)]="crns" name="crns" equired placeholder="Crn">
                </mat-form-field>
              </div>
                <br>
                    <button mat-raised-button class="btn btn-success" [disabled]="!registrationFormForm.form.valid">Save</button>
                    <a [routerLink]="['/registration-form', uid]" class="btn mat-raised-button">Cancel</a>
        </form>


</div>