<div class="container">
  <h1>{{ registrationForm.term }}</h1>
  <dl class="list">
    <dt>Name</dt>
    <dd>{{ registrationForm.name }}</dd>
    <dt>Student Id</dt>
    <dd>{{ registrationForm.studentId }}</dd>
    <dt>Degree</dt>
    <dd>{{ registrationForm.degree }}</dd>
    <dt>Email</dt>
    <dd>{{ registrationForm.email }}</dd>
    <dt>Advisor</dt>
    <dd>{{ registrationForm.advisor }}</dd>
    <dt>Crn</dt>
    <dd>{{ registrationForm.crns }}</dd>
    <dt>Pin</dt>
    <dd>{{ registrationForm.pin }}</dd>
    <dt>UPdated At</dt>
    <dd>{{ registrationForm.updated_at }}</dd>
  </dl>
</div>